.container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    height: 50px;
    width: 50px;
}

.box {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#winner{
    border: 1px solid black;
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
}

#turn_display{
    width: 100px;
    height: 50px;
    background-color: azure;
    border: 1px solid black;
    margin-bottom: 10px;
}

button{
    position: absolute;
    top: 225px
}